<div class="row">
    <div class="col-md-8 offset-2">
        <form #address="ngForm" (ngSubmit)="formSubmit(address)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label> Address 1 </mat-label>
                <input matInput ngModel placeholder="Address 1" required name="address1" type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label> Address 2 </mat-label>
                <input matInput ngModel placeholder="Address 2" required name="address2" type="text">
            </mat-form-field>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> City </mat-label>
                        <input matInput ngModel placeholder="City" required name="city" type="text">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>District </mat-label>
                        <input matInput ngModel placeholder="District" required name="distict" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> State </mat-label>
                        <input matInput ngModel placeholder="State" required name="state" type="text">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Country </mat-label>
                        <input matInput ngModel placeholder="Country" required name="country" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Pin Code </mat-label>
                    <input matInput ngModel placeholder="Pin Code" required name="pincode" type="text">
                </mat-form-field>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <button type="submit" mat-stroked-button color="primary">Add Details</button>
            </div>
        </form>
    </div>
</div>