<div class="row">
    <div class="col-md-8 offset-2">
        <form #user="ngForm" (ngSubmit)="formSubmit(user)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Enter Full Name" ngModel required name="fullName" type="text">
            </mat-form-field>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Email ID </mat-label>
                        <input matInput ngModel placeholder=" Email ID" required name="emailID" type="email">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Mobile Number </mat-label>
                        <input matInput ngModel placeholder="Mobile Number" required name="mobileNumber" type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <button type="submit" mat-stroked-button color="primary">Add Details</button>
            </div>
        </form>
    </div>
</div>