<div class="row">
    <div class="col">
        <table mat-table [dataSource]="usersList" class="mat-elevation-z8 w-100 mb-3">
        
            <!-- Position Column -->
            <ng-container matColumnDef="userID">
                <th mat-header-cell *matHeaderCellDef> Customer ID</th>
                <td mat-cell *matCellDef="let element"> {{element.userID || '-'}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef> User Name </th>
                <td mat-cell *matCellDef="let element"> {{element.userName || '-'}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element"> {{element.fullName || '-'}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="emailID">
                <th mat-header-cell *matHeaderCellDef> Email ID </th>
                <td mat-cell *matCellDef="let element"> {{element.emailID || '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                <td mat-cell *matCellDef="let element"> {{element.mobileNumber || '-'}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="allRecordsCount" [pageSize]="pageSize"  aria-label="Select page " (page)="pageEvent = onPageChange($event)">
        </mat-paginator>
    </div>
</div>
